<a href="https://colab.research.google.com/github/skaurl/tourbigdata/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
 
%config InlineBackend.figure_format = 'retina'
 
!apt -qq -y install fonts-nanum
 
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

plt.rcParams["figure.figsize"] = (10,10)

The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 35 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Selecting previously unselected package fonts-nanum.
(Reading database ... 144465 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...

In [2]:
import pandas as pd
import numpy as np

df20 = pd.read_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/신한카드/신한카드 데이터/KCTI_NATIVE_2020.txt", sep = "|", encoding = 'cp949')
df20 = df20[df20['ta_ym'] != 202001]
df20['ta_ym'] = df20['ta_ym']-202000
df20['cln_age_r'] = df20['cln_age_r'].astype('object')
df20['ta_ym'] = df20['ta_ym'].astype('object')
df20 = df20.rename({"vlm":"vlm20","usec":"usec20"},axis="columns")
del df20['v1']

df19 = pd.read_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/신한카드/신한카드 데이터/KCTI_NATIVE_2019.txt", sep = "|", encoding = 'cp949')
df19 = df19[df19['ta_ym'] != 201901]
df19 = df19[df19['ta_ym'] != 201907]
df19 = df19[df19['ta_ym'] != 201908]
df19 = df19[df19['ta_ym'] != 201909]
df19 = df19[df19['ta_ym'] != 201910]
df19 = df19[df19['ta_ym'] != 201911]
df19 = df19[df19['ta_ym'] != 201912]
df19['ta_ym'] = df19['ta_ym']-201900
df19['cln_age_r'] = df19['cln_age_r'].astype('object')
df19['ta_ym'] = df19['ta_ym'].astype('object')
df19 = df19.rename({"vlm":"vlm19","usec":"usec19"},axis="columns")
del df19['v1']

data20 = df20.groupby([df20["v2"],df20["gb3"],df20["gb2"],df20["sex_ccd"],df20["cln_age_r"],df20["ta_ym"],df20["daw_ccd_r"],df20["apv_ts_dl_tm_r"]]).sum()
data19 = df19.groupby([df19["v2"],df19["gb3"],df19["gb2"],df19["sex_ccd"],df19["cln_age_r"],df19["ta_ym"],df19["daw_ccd_r"],df19["apv_ts_dl_tm_r"]]).sum()

df = pd.merge(data20, data19, left_index=True, right_index=True, how="outer")

df = df.dropna(axis=0)

df['vlm_usec_ratio'] = (df["vlm20"]/df["usec20"])/(df["vlm19"]/df["usec19"])
df['vlm_ratio'] = (df["vlm20"]-df["vlm19"])/df["vlm19"]

df = df.reset_index()

df['cln_age_r'] = df['cln_age_r'].astype('object')
df["ta_ym"] = df["ta_ym"].astype("int")
df["ta_ym"] = df["ta_ym"].astype("object")

print(df)
print("==================================================")
print(df.dtypes)
print("==================================================")
print("v2 : ",len(list(set(df['v2']))),list(set(df['v2'])))
print("gb3 : ",len(list(set(df['gb3']))),list(set(df['gb3'])))
print("gb2 : ",len(list(set(df['gb2']))),list(set(df['gb2'])))
print("sex_ccd : ",len(list(set(df['sex_ccd']))),list(set(df['sex_ccd'])))
print("cln_age_r : ",len(list(set(df['cln_age_r']))),list(set(df['cln_age_r'])))
print("ta_ym : ",len(list(set(df['ta_ym']))),list(set(df['ta_ym'])))
print("daw_ccd_r : ",len(list(set(df['daw_ccd_r']))),list(set(df['daw_ccd_r'])))
print("apv_ts_dl_tm_r : ",len(list(set(df['apv_ts_dl_tm_r']))),list(set(df['apv_ts_dl_tm_r'])))

        v2     gb3   gb2  ...  usec19 vlm_usec_ratio vlm_ratio
0       강원  문화예술활동  공연관람  ...  6124.0       1.244721 -0.016053
1       강원  문화예술활동  공연관람  ...  2706.0       1.140528 -0.300763
2       강원  문화예술활동  공연관람  ...    20.0       0.821813 -0.096005
3       강원  문화예술활동  공연관람  ...  9021.0       1.324142 -0.118706
4       강원  문화예술활동  공연관람  ...  5101.0       1.121877 -0.339102
...     ..     ...   ...  ...     ...            ...       ...
102780  충북    취미오락  패션쇼핑  ...   745.0       1.025321  0.301951
102781  충북    취미오락  패션쇼핑  ...  3479.0       0.835799  0.117362
102782  충북    취미오락  패션쇼핑  ...   230.0       0.769694  0.388795
102783  충북    취미오락  패션쇼핑  ...  5729.0       0.823586  0.598438
102784  충북    취미오락  패션쇼핑  ...   620.0       0.528654 -0.233452

[102785 rows x 14 columns]
==================================================
v2                 object
gb3                object
gb2                object
sex_ccd            object
cln_age_r          object
ta_ym              object
daw_ccd_r          object
apv_ts_dl_tm_r     object
vlm20             float64
usec20            float64
vlm19             float64
usec19            float64
vlm_usec_ratio    float64
vlm_ratio         float64
dtype: object
==================================================
v2 :  17 ['경기', '부산', '서울', '전북', '광주', '전남', '경남', '강원', '제주', '경북', '대전', '울산', '충북', '대구', '인천', '세종', '충남']
gb3 :  4 ['여행', '문화예술활동', '취미오락', '스포츠활동']
gb2 :  28 ['악기연주', '목욕', '애완동물돌보기', '헬스', '골프', '미술공예참여', '여행사', '독서', '인터넷게임', '종합쇼핑', '공연관람', '체험', '유흥', '숙박', '종교활동', '미용', '스키', '레저스포츠', '교육훈련', '음악감상', '패션쇼핑', '사진촬영', '교통', '외식', '관광쇼핑', '운동경기관람', '스포츠용품구매', '자전거']
sex_ccd :  2 ['F', 'M']
cln_age_r :  5 [40, 50, 20, 60, 30]
ta_ym :  5 [2, 3, 4, 5, 6]
daw_ccd_r :  2 ['WHITE', 'RED']
apv_ts_dl_tm_r :  3 ['휴식', '활동', '취침']

In [3]:
import pandas as pd
import numpy as np

population = pd.read_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/행정구역(시군구)별 인구수.csv", encoding = 'cp949')
population = population.iloc[:,1:].astype("int")
print(population)

df_Time = pd.read_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/코로나/Data Science for COVID-19 (DS4C)/Time.csv", encoding = 'cp949')

df_Time = df_Time[(df_Time["date"]=="2020-02-29") | (df_Time["date"]=="2020-03-31") | (df_Time["date"]=="2020-04-30") | (df_Time["date"]=="2020-05-31") | (df_Time["date"]=="2020-06-30")]

for i in range(len(df_Time)):
    df_Time.iloc[i,0] = df_Time.iloc[i,0][-4]

df_Time["test_cum"] = df_Time["test"]
df_Time["negative_cum"] = df_Time["negative"]
df_Time["confirmed_cum"] = df_Time["confirmed"]
df_Time["released_cum"] = df_Time["released"]
df_Time["deceased_cum"] = df_Time["deceased"]

for i in range(len(df_Time)-1):
    df_Time.iloc[4-i,2:7] = df_Time.iloc[4-i,2:7] - df_Time.iloc[3-i,2:7]

for i in range(len(df_Time)):
    df_Time.iloc[i,1:] = (100000*df_Time.iloc[i,1:])/population.iloc[0,i]

del df_Time["time"]

df_Time["date"] = df_Time["date"].astype("int")
df_Time["date"] = df_Time["date"].astype("object")

df_Time = df_Time.rename(columns={'test':'nationwide_test','negative':'nationwide_negative','confirmed':'nationwide_confirmed','released':'nationwide_released','deceased':'nationwide_deceased','test_cum':'nationwide_test_cum','negative_cum':'nationwide_negative_cum','confirmed_cum':'nationwide_confirmed_cum','released_cum':'nationwide_released_cum','deceased_cum':'nationwide_deceased_cum'})

print("==================================================")
print(df_Time)

df_TimeProvince = pd.read_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/코로나/Data Science for COVID-19 (DS4C)/TimeProvince.csv", encoding = 'cp949')

df_TimeProvince = df_TimeProvince[(df_TimeProvince["date"]=="2020-02-29") | (df_TimeProvince["date"]=="2020-03-31") | (df_TimeProvince["date"]=="2020-04-30") | (df_TimeProvince["date"]=="2020-05-31") | (df_TimeProvince["date"]=="2020-06-30")]

for i in range(len(df_TimeProvince)):
    df_TimeProvince.iloc[i,0] = df_TimeProvince.iloc[i,0][-4]

for i in range(len(df_TimeProvince)):
    if df_TimeProvince.iloc[i,2] == "Seoul":
        df_TimeProvince.iloc[i,2] = "서울"
    elif df_TimeProvince.iloc[i,2] == "Busan":
        df_TimeProvince.iloc[i,2] = "부산"
    elif df_TimeProvince.iloc[i,2] == "Daegu":
        df_TimeProvince.iloc[i,2] = "대구"
    elif df_TimeProvince.iloc[i,2] == "Incheon":
        df_TimeProvince.iloc[i,2] = "인천"
    elif df_TimeProvince.iloc[i,2] == "Gwangju":
        df_TimeProvince.iloc[i,2] = "광주"
    elif df_TimeProvince.iloc[i,2] == "Daejeon":
        df_TimeProvince.iloc[i,2] = "대전"
    elif df_TimeProvince.iloc[i,2] == "Ulsan":
        df_TimeProvince.iloc[i,2] = "울산"
    elif df_TimeProvince.iloc[i,2] == "Sejong":
        df_TimeProvince.iloc[i,2] = "세종"
    elif df_TimeProvince.iloc[i,2] == "Gyeonggi-do":
        df_TimeProvince.iloc[i,2] = "경기"
    elif df_TimeProvince.iloc[i,2] == "Gangwon-do":
        df_TimeProvince.iloc[i,2] = "강원"
    elif df_TimeProvince.iloc[i,2] == "Chungcheongbuk-do":
        df_TimeProvince.iloc[i,2] = "충북"
    elif df_TimeProvince.iloc[i,2] == "Chungcheongnam-do":
        df_TimeProvince.iloc[i,2] = "충남"
    elif df_TimeProvince.iloc[i,2] == "Jeollabuk-do":
        df_TimeProvince.iloc[i,2] = "전북"
    elif df_TimeProvince.iloc[i,2] == "Jeollanam-do":
        df_TimeProvince.iloc[i,2] = "전남"
    elif df_TimeProvince.iloc[i,2] == "Gyeongsangbuk-do":
        df_TimeProvince.iloc[i,2] = "경북"
    elif df_TimeProvince.iloc[i,2] == "Gyeongsangnam-do":
        df_TimeProvince.iloc[i,2] = "경남"
    elif df_TimeProvince.iloc[i,2] == "Jeju-do":
        df_TimeProvince.iloc[i,2] = "제주"

df_TimeProvince["confirmed_cum"] = df_TimeProvince["confirmed"]
df_TimeProvince["released_cum"] = df_TimeProvince["released"]
df_TimeProvince["deceased_cum"] = df_TimeProvince["deceased"]

del df_TimeProvince["time"]

df_TimeProvince_Seoul = df_TimeProvince[df_TimeProvince["province"]=="서울"]
for i in range(len(df_TimeProvince_Seoul)-1):
    df_TimeProvince_Seoul.iloc[4-i,2:5] = df_TimeProvince_Seoul.iloc[4-i,2:5] - df_TimeProvince_Seoul.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Seoul)):
    df_TimeProvince_Seoul.iloc[i,2:] = (100000*df_TimeProvince_Seoul.iloc[i,2:])/population.iloc[1,i]

df_TimeProvince_Busan = df_TimeProvince[df_TimeProvince["province"]=="부산"]
for i in range(len(df_TimeProvince_Busan)-1):
    df_TimeProvince_Busan.iloc[4-i,2:5] = df_TimeProvince_Busan.iloc[4-i,2:5] - df_TimeProvince_Busan.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Busan)):
    df_TimeProvince_Busan.iloc[i,2:] = (100000*df_TimeProvince_Busan.iloc[i,2:])/population.iloc[2,i]

df_TimeProvince_Daegu = df_TimeProvince[df_TimeProvince["province"]=="대구"]
for i in range(len(df_TimeProvince_Daegu)-1):
    df_TimeProvince_Daegu.iloc[4-i,2:5] = df_TimeProvince_Daegu.iloc[4-i,2:5] - df_TimeProvince_Daegu.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Daegu)):
    df_TimeProvince_Daegu.iloc[i,2:] = (100000*df_TimeProvince_Daegu.iloc[i,2:])/population.iloc[3,i]

df_TimeProvince_Incheon = df_TimeProvince[df_TimeProvince["province"]=="인천"]
for i in range(len(df_TimeProvince_Incheon)-1):
    df_TimeProvince_Incheon.iloc[4-i,2:5] = df_TimeProvince_Incheon.iloc[4-i,2:5] - df_TimeProvince_Incheon.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Incheon)):
    df_TimeProvince_Incheon.iloc[i,2:] = (100000*df_TimeProvince_Incheon.iloc[i,2:])/population.iloc[4,i]

df_TimeProvince_Gwangju = df_TimeProvince[df_TimeProvince["province"]=="광주"]
for i in range(len(df_TimeProvince_Gwangju)-1):
    df_TimeProvince_Gwangju.iloc[4-i,2:5] = df_TimeProvince_Gwangju.iloc[4-i,2:5] - df_TimeProvince_Gwangju.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Gwangju)):
    df_TimeProvince_Gwangju.iloc[i,2:] = (100000*df_TimeProvince_Gwangju.iloc[i,2:])/population.iloc[5,i]

df_TimeProvince_Daejeon = df_TimeProvince[df_TimeProvince["province"]=="대전"]
for i in range(len(df_TimeProvince_Daejeon)-1):
    df_TimeProvince_Daejeon.iloc[4-i,2:5] = df_TimeProvince_Daejeon.iloc[4-i,2:5] - df_TimeProvince_Daejeon.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Daejeon)):
    df_TimeProvince_Daejeon.iloc[i,2:] = (100000*df_TimeProvince_Daejeon.iloc[i,2:])/population.iloc[6,i]

df_TimeProvince_Ulsan = df_TimeProvince[df_TimeProvince["province"]=="울산"]
for i in range(len(df_TimeProvince_Ulsan)-1):
    df_TimeProvince_Ulsan.iloc[4-i,2:5] = df_TimeProvince_Ulsan.iloc[4-i,2:5] - df_TimeProvince_Ulsan.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Ulsan)):
    df_TimeProvince_Ulsan.iloc[i,2:] = (100000*df_TimeProvince_Ulsan.iloc[i,2:])/population.iloc[7,i]

df_TimeProvince_Sejong = df_TimeProvince[df_TimeProvince["province"]=="세종"]
for i in range(len(df_TimeProvince_Sejong)-1):
    df_TimeProvince_Sejong.iloc[4-i,2:5] = df_TimeProvince_Sejong.iloc[4-i,2:5] - df_TimeProvince_Sejong.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Sejong)):
    df_TimeProvince_Sejong.iloc[i,2:] = (100000*df_TimeProvince_Sejong.iloc[i,2:])/population.iloc[8,i]

df_TimeProvince_Gyeonggi_do = df_TimeProvince[df_TimeProvince["province"]=="경기"]
for i in range(len(df_TimeProvince_Gyeonggi_do)-1):
    df_TimeProvince_Gyeonggi_do.iloc[4-i,2:5] = df_TimeProvince_Gyeonggi_do.iloc[4-i,2:5] - df_TimeProvince_Gyeonggi_do.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Gyeonggi_do)):
    df_TimeProvince_Gyeonggi_do.iloc[i,2:] = (100000*df_TimeProvince_Gyeonggi_do.iloc[i,2:])/population.iloc[9,i]

df_TimeProvince_Gangwon_do = df_TimeProvince[df_TimeProvince["province"]=="강원"]
for i in range(len(df_TimeProvince_Gangwon_do)-1):
    df_TimeProvince_Gangwon_do.iloc[4-i,2:5] = df_TimeProvince_Gangwon_do.iloc[4-i,2:5] - df_TimeProvince_Gangwon_do.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Gangwon_do)):
    df_TimeProvince_Gangwon_do.iloc[i,2:] = (100000*df_TimeProvince_Gangwon_do.iloc[i,2:])/population.iloc[10,i]

df_TimeProvince_Chungcheongbuk_do = df_TimeProvince[df_TimeProvince["province"]=="충북"]
for i in range(len(df_TimeProvince_Chungcheongbuk_do)-1):
    df_TimeProvince_Chungcheongbuk_do.iloc[4-i,2:5] = df_TimeProvince_Chungcheongbuk_do.iloc[4-i,2:5] - df_TimeProvince_Chungcheongbuk_do.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Chungcheongbuk_do)):
    df_TimeProvince_Chungcheongbuk_do.iloc[i,2:] = (100000*df_TimeProvince_Chungcheongbuk_do.iloc[i,2:])/population.iloc[11,i]

df_TimeProvince_Chungcheongnam_do = df_TimeProvince[df_TimeProvince["province"]=="충남"]
for i in range(len(df_TimeProvince_Chungcheongnam_do)-1):
    df_TimeProvince_Chungcheongnam_do.iloc[4-i,2:5] = df_TimeProvince_Chungcheongnam_do.iloc[4-i,2:5] - df_TimeProvince_Chungcheongnam_do.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Chungcheongnam_do)):
    df_TimeProvince_Chungcheongnam_do.iloc[i,2:] = (100000*df_TimeProvince_Chungcheongnam_do.iloc[i,2:])/population.iloc[12,i]

df_TimeProvince_Jeollabuk_do = df_TimeProvince[df_TimeProvince["province"]=="전북"]
for i in range(len(df_TimeProvince_Jeollabuk_do)-1):
    df_TimeProvince_Jeollabuk_do.iloc[4-i,2:5] = df_TimeProvince_Jeollabuk_do.iloc[4-i,2:5] - df_TimeProvince_Jeollabuk_do.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Jeollabuk_do)):
    df_TimeProvince_Jeollabuk_do.iloc[i,2:] = (100000*df_TimeProvince_Jeollabuk_do.iloc[i,2:])/population.iloc[13,i]

df_TimeProvince_Jeollanam_do = df_TimeProvince[df_TimeProvince["province"]=="전남"]
for i in range(len(df_TimeProvince_Jeollanam_do)-1):
    df_TimeProvince_Jeollanam_do.iloc[4-i,2:5] = df_TimeProvince_Jeollanam_do.iloc[4-i,2:5] - df_TimeProvince_Jeollanam_do.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Jeollanam_do)):
    df_TimeProvince_Jeollanam_do.iloc[i,2:] = (100000*df_TimeProvince_Jeollanam_do.iloc[i,2:])/population.iloc[14,i]

df_TimeProvince_Gyeongsangbuk_do = df_TimeProvince[df_TimeProvince["province"]=="경북"]
for i in range(len(df_TimeProvince_Gyeongsangbuk_do)-1):
    df_TimeProvince_Gyeongsangbuk_do.iloc[4-i,2:5] = df_TimeProvince_Gyeongsangbuk_do.iloc[4-i,2:5] - df_TimeProvince_Gyeongsangbuk_do.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Gyeongsangbuk_do)):
    df_TimeProvince_Gyeongsangbuk_do.iloc[i,2:] = (100000*df_TimeProvince_Gyeongsangbuk_do.iloc[i,2:])/population.iloc[15,i]

df_TimeProvince_Gyeongsangnam_do = df_TimeProvince[df_TimeProvince["province"]=="경남"]
for i in range(len(df_TimeProvince_Gyeongsangnam_do)-1):
    df_TimeProvince_Gyeongsangnam_do.iloc[4-i,2:5] = df_TimeProvince_Gyeongsangnam_do.iloc[4-i,2:5] - df_TimeProvince_Gyeongsangnam_do.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Gyeongsangnam_do)):
    df_TimeProvince_Gyeongsangnam_do.iloc[i,2:] = (100000*df_TimeProvince_Gyeongsangnam_do.iloc[i,2:])/population.iloc[16,i]

df_TimeProvince_Jeju_do = df_TimeProvince[df_TimeProvince["province"]=="제주"]
for i in range(len(df_TimeProvince_Jeju_do)-1):
    df_TimeProvince_Jeju_do.iloc[4-i,2:5] = df_TimeProvince_Jeju_do.iloc[4-i,2:5] - df_TimeProvince_Jeju_do.iloc[3-i,2:5]
for i in range(len(df_TimeProvince_Jeju_do)):
    df_TimeProvince_Jeju_do.iloc[i,2:] = (100000*df_TimeProvince_Jeju_do.iloc[i,2:])/population.iloc[17,i]

df_TimeProvince = pd.concat([df_TimeProvince_Seoul,df_TimeProvince_Busan,df_TimeProvince_Daegu,df_TimeProvince_Incheon,df_TimeProvince_Gwangju,df_TimeProvince_Daejeon,df_TimeProvince_Ulsan,df_TimeProvince_Sejong,df_TimeProvince_Gyeonggi_do,df_TimeProvince_Gangwon_do,df_TimeProvince_Chungcheongbuk_do,df_TimeProvince_Chungcheongnam_do,df_TimeProvince_Jeollabuk_do,df_TimeProvince_Jeollanam_do,df_TimeProvince_Gyeongsangbuk_do,df_TimeProvince_Gyeongsangnam_do,df_TimeProvince_Jeju_do])

df_TimeProvince["date"] = df_TimeProvince["date"].astype("int")
df_TimeProvince["date"] = df_TimeProvince["date"].astype("object")

print("==================================================")
print(df_TimeProvince)

      Feb.20    Mar.20    Apr.20    May.20    Jun.20
0   51844627  51843195  51842524  51841371  51839408
1    9736962   9733655   9726787   9724496   9720846
2    3410925   3409932   3408347   3406942   3404423
3    2432883   2433568   2431523   2429059   2427954
4    2954955   2952689   2950972   2950063   2947217
5    1456121   1455705   1456096   1455533   1455048
6    1473125   1471858   1471650   1471915   1471040
7    1145710   1144563   1144098   1143148   1142190
8     343788    344792    345216    345373    345341
9   13265377  13288975  13311254  13324041  13338020
10   1539521   1538577   1537780   1538639   1539282
11   1598599   1597639   1596613   1596710   1597593
12   2120995   2119749   2118457   2118510   2119771
13   1815112   1812936   1811619   1810097   1808802
14   1861894   1859290   1857083   1855945   1854618
15   2658956   2653418   2651054   2648760   2646493
16   3358828   3355341   3353380   3351347   3349454
17    670876    670508    670595    670793    671316
==================================================
    date  nationwide_test  ...  nationwide_released_cum  nationwide_deceased_cum
40     2       181.417064  ...                 0.054008                 0.032790
71     3       610.512141  ...                10.431456                 0.312481
101    4       403.755419  ...                17.474072                 0.476443
132    5       561.213939  ...                20.070843                 0.520820
162    6       700.131452  ...                22.255270                 0.543988

[5 rows x 11 columns]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

==================================================
     date province  confirmed  ...  confirmed_cum  released_cum  deceased_cum
680     2       서울   0.790801  ...       0.790801      0.092431      0.000000
1207    3       서울   3.832065  ...       4.623135      1.099279      0.000000
1717    4       서울   1.881402  ...       6.507802      4.657242      0.020562
2244    5       서울   2.344595  ...       8.853929      6.447635      0.041133
2754    6       서울   4.639514  ...      13.496768     10.132863      0.072010
...   ...      ...        ...  ...            ...           ...           ...
696     2       제주   0.298118  ...       0.298118      0.000000      0.000000
1223    3       제주   1.043985  ...       1.342266      0.447422      0.000000
1733    4       제주   0.596485  ...       1.938577      1.192970      0.000000
2260    5       제주   0.298155  ...       2.236159      1.938005      0.000000
2770    6       제주   0.595845  ...       2.830262      2.383378      0.000000

[85 rows x 8 columns]

In [4]:
print(df.dtypes)
print(df_Time.dtypes)
print(df_TimeProvince.dtypes)

v2                 object
gb3                object
gb2                object
sex_ccd            object
cln_age_r          object
ta_ym              object
daw_ccd_r          object
apv_ts_dl_tm_r     object
vlm20             float64
usec20            float64
vlm19             float64
usec19            float64
vlm_usec_ratio    float64
vlm_ratio         float64
dtype: object
date                         object
nationwide_test             float64
nationwide_negative         float64
nationwide_confirmed        float64
nationwide_released         float64
nationwide_deceased         float64
nationwide_test_cum         float64
nationwide_negative_cum     float64
nationwide_confirmed_cum    float64
nationwide_released_cum     float64
nationwide_deceased_cum     float64
dtype: object
date              object
province          object
confirmed        float64
released         float64
deceased         float64
confirmed_cum    float64
released_cum     float64
deceased_cum     float64
dtype: object

In [5]:
df = pd.merge(df,df_Time,left_on=["ta_ym"],right_on=["date"],how="left")

df = pd.merge(df,df_TimeProvince,left_on=["v2","ta_ym"],right_on=["province","date"],how="left")

df = df.dropna(axis=0,how = 'any')
df = df.drop_duplicates()
df = df.reset_index()
del df['index']
del df['date_x']
del df['date_y']
del df['province']

print(df)
print(df.dtypes)

        v2     gb3   gb2  ... confirmed_cum released_cum deceased_cum
0       강원  문화예술활동  공연관람  ...      0.454687      0.00000          0.0
1       강원  문화예술활동  공연관람  ...      0.454687      0.00000          0.0
2       강원  문화예술활동  공연관람  ...      0.454687      0.00000          0.0
3       강원  문화예술활동  공연관람  ...      0.454687      0.00000          0.0
4       강원  문화예술활동  공연관람  ...      0.454687      0.00000          0.0
...     ..     ...   ...  ...           ...          ...          ...
102780  충북    취미오락  패션쇼핑  ...      3.757727      3.06881          0.0
102781  충북    취미오락  패션쇼핑  ...      4.068621      3.75565          0.0
102782  충북    취미오락  패션쇼핑  ...      4.068621      3.75565          0.0
102783  충북    취미오락  패션쇼핑  ...      4.068621      3.75565          0.0
102784  충북    취미오락  패션쇼핑  ...      4.068621      3.75565          0.0

[102785 rows x 30 columns]
v2                           object
gb3                          object
gb2                          object
sex_ccd                      object
cln_age_r                    object
ta_ym                        object
daw_ccd_r                    object
apv_ts_dl_tm_r               object
vlm20                       float64
usec20                      float64
vlm19                       float64
usec19                      float64
vlm_usec_ratio              float64
vlm_ratio                   float64
nationwide_test             float64
nationwide_negative         float64
nationwide_confirmed        float64
nationwide_released         float64
nationwide_deceased         float64
nationwide_test_cum         float64
nationwide_negative_cum     float64
nationwide_confirmed_cum    float64
nationwide_released_cum     float64
nationwide_deceased_cum     float64
confirmed                   float64
released                    float64
deceased                    float64
confirmed_cum               float64
released_cum                float64
deceased_cum                float64
dtype: object

In [7]:
#df.to_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/dataset.csv",encoding='cp949', index=False)