<a href="https://colab.research.google.com/github/skaurl/tourbigdata/blob/master/%EC%8B%A0%ED%95%9C%EC%B9%B4%EB%93%9C%26%EC%BD%94%EB%A1%9C%EB%82%98_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B8%B0%EC%B4%88_%ED%86%B5%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
 
%config InlineBackend.figure_format = 'retina'
 
!apt -qq -y install fonts-nanum
 
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

plt.rcParams["figure.figsize"] = (10,10)

The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 35 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Selecting previously unselected package fonts-nanum.
(Reading database ... 144465 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...

In [3]:
import pandas as pd
import numpy as np

df_all = pd.read_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/신한카드/신한카드 데이터/KCTI_NATIVE_ALL.txt", sep = "|", encoding = 'cp949')
df_all = df_all.groupby([df_all['v2'],df_all['gb3'],df_all['sex_ccd'],df_all['cln_age_r'],df_all['ta_ym']]).sum()
df_all = df_all.reset_index()

df_all = df_all[df_all['cln_age_r']!='기타']

df_all = df_all.sort_values(by=['v2','gb3','sex_ccd','cln_age_r','ta_ym'])

df_all.to_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/dataset.csv", encoding='cp949', index=False)

df_all = pd.read_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/dataset.csv", encoding = 'cp949')

df_all = df_all.groupby([df_all['v2'],df_all['gb3'],df_all['sex_ccd'],df_all['cln_age_r'],df_all['ta_ym']]).sum()
df_all = df_all.reset_index()

df_all = df_all[df_all['cln_age_r']!='기타']

df_all = df_all.sort_values(by=['v2','gb3','sex_ccd','cln_age_r','ta_ym'])

print(df_all)
print(df_all.dtypes)

df_all.to_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/dataset.csv", encoding='cp949', index=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       v2     gb3 sex_ccd  cln_age_r   ta_ym           vlm     usec
0      강원  문화예술활동       F         20  201701  3.525090e+08    28203
1      강원  문화예술활동       F         20  201702  3.084153e+08    24361
2      강원  문화예술활동       F         20  201703  3.558027e+08    28811
3      강원  문화예술활동       F         20  201704  2.732711e+08    20142
4      강원  문화예술활동       F         20  201705  4.023748e+08    32267
...    ..     ...     ...        ...     ...           ...      ...
28555  충북    취미오락       M         60  202002  2.445020e+10   808798
28556  충북    취미오락       M         60  202003  2.638171e+10   904710
28557  충북    취미오락       M         60  202004  2.889779e+10   968417
28558  충북    취미오락       M         60  202005  3.891491e+10  1233010
28559  충북    취미오락       M         60  202006  3.439198e+10  1150324

[28560 rows x 7 columns]
v2            object
gb3           object
sex_ccd       object
cln_age_r      int64
ta_ym          int64
vlm          float64
usec           int64
dtype: object

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [4]:
import pandas as pd
import numpy as np

df_all = pd.read_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/dataset.csv", encoding = 'cp949')

A = df_all.groupby([df_all['v2'],df_all['gb3'],df_all['sex_ccd'],df_all['cln_age_r']]).count()
A = A.reset_index()

print(A[A['ta_ym']==42])
print(A[A['ta_ym']!=42])

     v2     gb3 sex_ccd  cln_age_r  ta_ym  vlm  usec
0    강원  문화예술활동       F         20     42   42    42
1    강원  문화예술활동       F         30     42   42    42
2    강원  문화예술활동       F         40     42   42    42
3    강원  문화예술활동       F         50     42   42    42
4    강원  문화예술활동       F         60     42   42    42
..   ..     ...     ...        ...    ...  ...   ...
675  충북    취미오락       M         20     42   42    42
676  충북    취미오락       M         30     42   42    42
677  충북    취미오락       M         40     42   42    42
678  충북    취미오락       M         50     42   42    42
679  충북    취미오락       M         60     42   42    42

[680 rows x 7 columns]
Empty DataFrame
Columns: [v2, gb3, sex_ccd, cln_age_r, ta_ym, vlm, usec]
Index: []

In [ ]:
import pandas as pd
import numpy as np

df_all = pd.read_csv("/gdrive/My Drive/한양대학교/2020년 문화관광 빅데이터 분석대회/data/dataset.csv", encoding = 'cp949')

for i in range(680):
    plt.plot(range(42), df_all.iloc[42*i:42*i+42,5])
    plt.show()